body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 /* background: -webkit-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
  /*
background: rgb(161,196,253);
background: linear-gradient(142deg, rgba(161,196,253,1) 14%, rgba(194,233,251,1) 100%);
  */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
